body {
  font-family: Roboto Condensed;
  color: #333;
}

.page {
  width: 1000px;
  margin: 30px auto 0;
}

h1 {
  text-align: center;
  font-size: 24px;
}

.displays {
  padding: 30px;
  border: 10px solid #ccc;
  background-color: #222;
  border-radius: 30px;
  box-shadow: 0 0 12px 4px #000 inset;
}

.flapper {
  margin-bottom: 2px;
  text-align: center;
}

.inputarea {
  margin: 24px 0;
}

#typesomething,
#showme {
  font-family: Roboto Condensed;
  font-size: 18px;
  padding: 14px;
  background-color: #eee;
  color: #333;
  border: 0;
  height: 170px;
}

#typesomething {
  width: 300px;
}

#showme:hover {
  background-color: #ddd;
}

#showme:active {
  background-color: #ccc;
}

div.inline {
  display: inline-block;
  vertical-align: bottom;
}

div.activity {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #250000;
  position: relative;
  top: 33px;
  left: -15px;
}

div.activity.active {
  background-color: #f00;
}
